*{
    box-sizing: border-box;
}
.login-section{
    margin: 0;
    
    height: 100%;
    color: white;
    background-image: url(https://images.unsplash.com/photo-1629348671688-e9ed9b9e44dc?auto=format&fit=crop&q=80&w=1770&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    padding-block: 8rem;
    padding-inline: 1rem;
    

    & .container{

        & .login-content{
            /* Glassmorphic background */
            background: linear-gradient(135deg, rgba(58, 58, 58, 0.8), rgba(26, 26, 26, 0.4));
            backdrop-filter: blur(11px);
            -webkit-backdrop-filter: blur(10px);
            border-radius: 20px;
            border: 1px solid rgba(2555,255,255,.18);
            box-shadow: 0 8px 32px 0 rgba(0,0,0,.37);
            padding: 2rem 1rem;
            /* margin: 2rem; */
            width: 100%;
            max-width: 40rem;
        }
        
        & .login-title{
            margin: 0;
            padding: 1rem 2rem;
        }
        & .login-form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            max-width: 20rem;
            & label{
                position: relative;
                margin-block: 1rem;
                min-width: 5rem;
                & i{
                    margin-left: 1rem;
                    position: absolute;
                    font-size: 1rem;
                }

                & input:focus, input:active{
                    border: none;
                    outline: none;
                }
                & input:not(input[type=submit]){
                    width: 100%;
                    
                    padding-left: 3rem;
                    background-color: transparent;
                    border: 0;
                    color: white;
                    border-bottom: 1px solid rgb(180,180,180);

                    
                }
                & input::placeholder{
                    color: rgb(180,180,180);
                }
                /* Login button */
                & .login-form-btn{
                    position: relative;
                    border: 1px solid rgb(77, 77, 77);
                    border-radius: 8px;
                    padding: 5px;
                    text-align: center;
                    background-color: transparent;
                    color: rgb(199, 199, 199);
                    cursor: pointer;
                    overflow: hidden;
                    transition: color .5s ease; 
                
                }
                & .login-form-btn:hover{
                    color: white;
                }
                

                /* Psuedo element for Hover effect */ 
                & .login-form-btn::after{
                    content: "";
                    position: absolute;
                    background-color: #858383;
                    height: 100%;
                    width: 100%;
                    left: 0;
                    top: 0;
                    z-index: -1;
                    transform: scaleX(0);
                    transform-origin: right;
                    transition: transform 300ms ease-in-out;

                }
                & .login-form-btn:hover::after{
                        transform: scaleX(1);
                        transform-origin: left;    
                }
            }

        }
    }  
}
/* medium to small screen */
@media(max: 600px){
    .login-section{
        padding-inline: 0;

        & .container{
            padding: 0;

            & .login-form{
                &.label{
                & i{
                    margin-left: 0;
                }

                & input:not(input[type=submit]){
                    padding-left: 0;
                }
            }
            }

        }
    }
}